

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    
      <!-- Modal -->
      <div class="modal fade" id="alertModel" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body">
              <h4>Invalid Mobile Number!</h4>
            </div>
            <div class="modal-footer">
              <a href="/" type="button" class="btn btn-default">Okay</a>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </body>
  <script>
    $(document).ready(function(){
      $("#alertModel").modal("show");
    })  
  </script>

