{% extends 'student_base.html' %}
{% block head_title %}Ask Doubt{% endblock %}

{% block body_container %}

<style>
  .ask-about-content{
    padding: 20px;
  }
    .ask-about{
      margin: 100px 0px 0px 0px;
    }
 
  .app-new-form-label{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .app-new-input-group{
    display: flex !important;
    justify-content: center !important;
  }
  .app-new-form-label input{
    width: 500px;
  }
  .app-new-form-label .form-control{
    width: 500px;
  }
  .app-new-submit-btn2{
    padding: 5px 20px;
    background-color: #f15a22;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 1px solid #000; */
  }
  .submit-btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ask-for-doubt{
    background-color: #27A3E2;
    margin: 0px 0px 60px 0px;
  }
  .ask-for-doubt h2{
    color:#fff;
    font-weight: 600;
  }
  .ask-for-doubt-content{
    padding: 05px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ask-about{
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 40px;
  }
</style>
<div class="ask-about">
  <div class="ask-about-content">
    <div class="container">
      <div class="ask-for-doubt">
        <div class="ask-for-doubt-content">
          <h2>Ask for doubt</h2>
        </div>
      </div>
      <form method="post" action="/student/student_ask_doubt/"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group app-new-form-label ">
          <label for="topics" style="margin-right: 47px;">Topics:</label>
            <select class="form-control" id="topics" name="topics">
              <option value="" >---Select the Topic---</option>
                {% for topic in topics %}
                    <option id="{{ topic.id }}" value="{{ topic.id }}" style="background-color:rgb(132, 252, 121);">{{topic.id}}-{{ topic }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group app-new-form-label">
          <label for="subtopics" style="margin-right: 30px;">Subtopics:</label>
          <select class="form-control" id="subtopics" name="subtopics">
            <option value="" >---Select the Subtopic---</option>
          </select>
        </div>
        <div class="input-group app-new-input-group">
          <div class="custom-file app-new-form-label">
            <label class="custom-file-label" style="margin-right: 13px;" for="imgInp">Upload image:</label>
            <input accept=".png, .jpg" type="file" class="custom-file-input" id="imgInp" aria-describedby="inputGroupFileAddon04">
          </div>
        </div>
        <div class="form-group app-new-form-label" style="margin-top: 20px;">
          <label for="text" style="margin-right: 29px;">Doubt Text:</label>
          <textarea class="form-control" id="text" name='text' placeholder="Write your doubt here.." rows="4" required></textarea>
        </div>
        <div class="submit-btn2">
          <a href="/student/student_dashboard" style="background-color: #535758;" class="app-new-submit-btn2">Cancle</a>
          <button class="app-new-submit-btn2" onclick="postDoubt()">Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% block javascript %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>


    $(document).ready(function() {
      $('#topics').change(function() {
        var topicId = $(this).val();
        if (topicId) {
          $.ajax({
            url: '/student/load-subtopics/',
            data: {
              'topic_id': topicId
            },
            dataType: 'json',
            success: function(response) {
              var stateSelect = $('#subtopics');
              stateSelect.empty();
              stateSelect.append('<option value="">---Select the Subtopic---</option>');
              $.each(response.subtopics, function(index, subtopic) {
                stateSelect.append('<option style="background-color:rgb(132, 252, 121);" value="' + subtopic.id + '">' + subtopic.id + '-' + subtopic.name + '</option>');
              });
            }
          });
        } else {
          var stateSelect = $('#subtopics');
          stateSelect.empty();
          stateSelect.append('<option value="">Select a Topic first</option>');
        }
      });
    });

    imgInp.onchange = evt => {
      const [file] = imgInp.files
      if (file) {
          blah.src = URL.createObjectURL(file)
      }
    }

    function postDoubt() {

      $('#doubt_post_loader').show()

      let imageFile = $("#imgInp").prop('files')[0];

      if (imageFile) {
          type = 'image'
      } else {
          type = null
      }

      var data = new FormData(); //Create formdata objects to facilitate file transfer to the back end
      data.append("file", imageFile) //To add (encapsulate) a file object to a formdata object
      data.append("offeringid", '{{offeringId}}')
      data.append("topics", $('select#topics').val())
      data.append("subtopics", $('select#subtopics').val())
      data.append("studentid", student.id)
      data.append("attachmentType", type)
      data.append("text", $('#text').val())

      console.log(data)

      $.ajax({
        url: '/student/student_ask_doubt/',
        type: 'POST',
        data: data,
        cache: false, //Upload files without caching
        processData: false, //Do not serialize data
        contentType: false, //No special connection type defined
        success: function(response) {
            console.log(response)
            // $('#doubt_post_loader').hide()
            // window.location.reload()
        },
        error: function(xhr, errmsg, err) {
            // $('#doubt_post_loader').hide()
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
      })
    }
  </script>
{% endblock javascript %}

{% endblock body_container %}