{% extends 'new_ui.html' %} {% block content %}
<!DOCTYPE html>{% load staticfiles%}
    <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}" />
    <script src="{% static 'css/fontawesome/js/all.min.js' %}"></script>

    <style>

        .list{
            display: flex;
            justify-content:space-around;
          }
          .flip-card {
            background-color: transparent;
            width: 250px;
            height: 250px;
            perspective: 1000px;
           
          }
          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            
          }
          .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
          }
          .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
          }
          .flip-card-front {
            background-color:#fff;
            color: black;
          }
          .flip-card-back {
            background-color: #fff;
            color: white;
            transform: rotateY(180deg);
            
          }
        </style>


</head>

<body>
    <div class="relative flex justify-center items-center ">
        <div class="mb-8 w-full bottom-0">
          <img
            class="shadow-md w-full h-full  object-cover"
            src="{% static 'images/homepagebanner.png' %}" alt=""/>
        </div>     
    </div>

    <div class=" p-8 rounded flex items-start text-green-600 my-4 shadow-lg mx-auto">
        <div class="px-3">
          <h3 class="text-green-800 font-semibold tracking-wider text-center text-lg md:text-4xl">What is Sunbird Serve?</h3>
          <p class="py-2 text-green-700  text-justify">
            The platform offers an opportunity to introduce a new paradigm of Volunteer 
            to Volunteer interactions, followed by multiple actors coming together and 
            leading to a societal network of volunteering systems.
          </p>
          <p class="py-2 text-green-700  text-justify">
              Serve Beta platform can enable efficient volunteer interactions that add significant 
              value to society and overall human development. It enables relevant actors to crowdsource 
              volunteers for their needs and participate in interactions towards realization of the value.
              
              It provides Reference Solution, Volunteering Registries, and Volunteer Service to enable Request,
              Assignment, Nominations and Management of Needs & Deliverables.</p>
              <div class="pt-3 flex flex-row items-center justify-center">
              <a href="https://serve.sunbird.org/explore/overview" class="p-2 md:p-4">
              <button class="md:px-7 md:py-2.5 p-2 text-sm text-base flex justify-center font-semibold rounded-md block border-b border-green-300 bg-green-200 hover:bg-green-300 text-green-900">Know More
              </button>
              </a>
          </div>
        </div>
      </div>


      <div
      class="bg-red-50 p-8 rounded text-green-600 text-center my-4 shadow-lg"
    >
      <div class="px-3">
        <h3
          class="text-green-800 font-semibold tracking-wider text-lg md:text-4xl"
        >
        ENABLE TECH FOR VOLUNTEERING.
        </h3>
        <p class="py-2 pt-4 text-green-700">
            You can adopt serve platform through our MIT licensed open source repository or can register as a partner in serve platform.
        </p>
      </div>
      <div class="pt-8 flex flex-row items-center justify-center">
        <a href="/partner/new_signup/" class="p-2 md:p-4"
          ><button
            class="md:px-10 md:py-2.5 p-2 text-sm text-base flex justify-center font-semibold rounded-md block border-b border-green-300 bg-green-200 hover:bg-green-300 text-green-900"
          >
            Register Now
          </button></a
        >
        <!-- <a
          href="https://play.google.com/store/apps/details?id=org.evidyaloka"
          class="p-2 md:p-4"
          ><button
            class="md:px-7 md:py-2.5 p-2 text-sm text-base flex justify-center font-semibold rounded-md block border-b border-green-300 bg-green-200 hover:bg-green-300 text-green-900"
          >
            Download app
          </button></a
        > -->
      </div>
    </div>

      <div class="p-1">
        <h3
          class="text-yellow-500 p-4 py-8 font-semibold tracking-wider text-center text-base md:text-lg md:text-4xl"
        >
          Value of Capabilities
        </h3>
          <div class="flex flex-wrap items-center justify-center">
            <div class="m-3 relative overflow-hidden rounded-lg w-4/12 md:max-w-sm">
              
              <div class="relative text-white px-6 pb-6 mt-6 flex justify-center">
                  <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img class="relative w-20 h-20 md:w-40 md:h-40" src="{% static 'images/Volmanagement.png' %}" alt=" " style="width:250px;height:250px;align-items: center;">
                        </div>
                        <div class="flip-card-back">
                          <!-- <h1 class="block font-normal text-black  " >John Doe</h1> -->
                          <p><span class="block font-normal text-sm md:text-lg text-black p-4 text-center">Effective Volunteer Management and Efficient Volunteer Engagement - Volunteers are registered, Onboarded and Engaged</span></p>
                        </div>
                      </div>
                    </div>
              </div>
              <!-- <div class="relative text-white px-6 pb-6 mt-6">
                <div class="flex justify-between">
                  <span class="justify-center block font-normal text-sm md:text-lg text-black"
                    >Remote volunteering</span
                  >
                </div>
              </div> -->
            </div>
            <div class="m-3 relative overflow-hidden rounded-lg w-4/12 md:max-w-sm">
              
              <div class="relative text-white px-6 pb-6 mt-6 flex justify-center">
                  <div class="flip-card">
                      <div class="flip-card-inner">
                          <div class="flip-card-front">
                          <img class="relative w-20 h-20 md:w-40 md:h-40" src="{% static 'images/needmanagement.png' %}" alt=" " style="width:250px;height:250px;align-items: center; ">
                          </div>
                          <div class="flip-card-back">
                          <!-- <h1 class="block font-normal text-black  " >John Doe</h1> -->
                          <p><span class="block font-normal text-sm md:text-lg text-black p-4 text-center">Need/Demand is Identified, Raised and Managed</s></p>
                          </div>
                      </div>
                      </div>
              </div>
              <!-- <div class="relative text-white px-6 pb-6 mt-6">
                  <div class="flex justify-between">
                  <span class="block font-normal text-sm md:text-lg text-black"
                      >Access rich content (including video lessons) in their
                      regional language as a TV broadcast and on the App</span
                  >
                  </div>
              </div> -->
              </div>
              <div class="m-3 relative overflow-hidden rounded-lg w-4/12 md:max-w-sm">
              
                  <div class="relative text-white px-6 pb-6 mt-6 flex justify-center">
                      <div class="flip-card">
                          <div class="flip-card-inner">
                              <div class="flip-card-front">
                              <img class="relative w-20 h-20 md:w-40 md:h-40" src="{% static 'images/discovery.png' %}" alt=" " style="width:250px;height:250px;align-items: center;">
                              </div>
                              <div class="flip-card-back">
                              <!-- <h1 class="block font-normal text-black  " >John Doe</h1> -->
                              <p><span class="block font-normal text-sm md:text-lg text-black p-4 text-center"
                                  >Need/Demands raised can be discovered by volunteers and can nominate themselves for the need. 
                                  </span
                                  ></p>
                              </div>
                          </div>
                          </div>
                  </div>
                  <!-- <div class="relative text-white px-6 pb-6 mt-6">
                      <div class="flex justify-between">
                      <span class="block font-normal text-sm md:text-lg text-black"
                          >Access rich content (including video lessons) in their
                          regional language as a TV broadcast and on the App</span
                      >
                      </div>
                  </div> -->
                  </div>
                  <div class="m-3 relative overflow-hidden rounded-lg w-4/12 md:max-w-sm">
              
                      <div class="relative text-white px-6 pb-6 mt-6 flex justify-center">
                          <div class="flip-card">
                              <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                  <img class="relative w-20 h-20 md:w-40 md:h-40" src="{% static 'images/needDeliverable.png' %}" alt=" " style="width:250px;height:250px;align-items: center;">
                                  </div>
                                  <div class="flip-card-back">
                                  <!-- <h1 class="block font-normal text-black  " >John Doe</h1> -->
                                  <p><span class="block font-normal text-sm md:text-lg text-black p-4 text-center"
                                      >Need Deliverables are Defined, Delivered and Tracked
                                      </span
                                      ></p>
                                  </div>
                              </div>
                              </div>
                      </div>
                      <!-- <div class="relative text-white px-6 pb-6 mt-6">
                          <div class="flex justify-between">
                          <span class="block font-normal text-sm md:text-lg text-black"
                              >Access rich content (including video lessons) in their
                              regional language as a TV broadcast and on the App</span
                          >
                          </div>
                      </div> -->
                      </div>
                      <div class="m-3 relative overflow-hidden rounded-lg w-4/12 md:max-w-sm">
              
                          <div class="relative text-white px-6 pb-6 mt-6 flex justify-center">
                              <div class="flip-card">
                                  <div class="flip-card-inner">
                                      <div class="flip-card-front">
                                      <img class="relative w-20 h-20 md:w-40 md:h-40" src="{% static 'images/realtime.png' %}" alt=" " style="width:250px;height:250px;align-items: center;">
                                      </div>
                                      <div class="flip-card-back">
                                      <!-- <h1 class="block font-normal text-black  " >John Doe</h1> -->
                                      <p><span class="block font-normal text-sm md:text-lg text-black p-4 text-center"
                                          >Real Time Tracking - Various dashboards are offered to track the data real time.</span
                                          ></p>
                                      </div>
                                  </div>
                                  </div>
                          </div>
                          <!-- <div class="relative text-white px-6 pb-6 mt-6">
                              <div class="flex justify-between">
                              <span class="block font-normal text-sm md:text-lg text-black"
                                  >Access rich content (including video lessons) in their
                                  regional language as a TV broadcast and on the App</span
                              >
                              </div>
                          </div> -->
                          </div>
            </div>
          
        </div>
      </div>


    
      <div class="py-8 bg-gradient-to-b from-white to-gray-100">
        <h3
          class="text-red-400 py-8 font-semibold tracking-wider text-center text-lg md:text-4xl"
        >
          Who can Register?
        </h3>
  
        <div class="p-4 md:px-12 w-full justify-start items-center">
          <!-- Start of component -->
          <div
            class="max-w-6xl bg-blue-100 border-1 border-gray-300 p-5 rounded-md tracking-wide shadow-lg"
          >
            <div id="header" class="flex">
              <img
                class="w-20 h-20"
                src="{% static 'images/vidya_ganga/Icons for VidyaGanga webpage/Icons for VidyaGanga webpage/7.png' %}"
              />
              <div
                id="body"
                class="flex flex-wrap content-center ml-5 items-center"
              >
                <h4 id="name" class="text-xs md:text-base font-normal mb-2">
                 <strong>Volunteer:</strong> An actor who participates to volunteer by nominating and fulfilling the demand. 
                </h4>
              </div>
            </div>
          </div>
  
          <!-- End of component -->
        </div>
        <div class="p-4 md:px-12 flex justify-start items-center">
          <!-- Start of component -->
          <div
            class="max-w-6xl bg-gray-100 border-1 border-gray-300 p-5 md:96 rounded-md tracking-wide shadow-lg"
          >
            <div id="header" class="flex">
              <img
                class="w-20 h-20"
                src="{% static 'images/vidya_ganga/Icons for VidyaGanga webpage/Icons for VidyaGanga webpage/14.png' %}"
              />
              <div id="body" class="flex ml-5 flex-wrap content-center md:pr-96">
                <h4 id="name" class="text-xs md:text-base font-normal mb-2">
                 <strong>vAdmin:</strong> An actor who owns, decides and manages a set of Volunteers and vCoordinators.
                </h4>
              </div>
            </div>
          </div>
  
          <!-- End of component -->
        </div>

        <div class="p-4 md:px-12 w-full justify-start items-center">
          <!-- Start of component -->
          <div
            class="max-w-6xl bg-red-100 border-1 border-gray-300 p-5 rounded-md tracking-wide shadow-lg"
          >
            <div id="header" class="flex">
              <img
                class="w-20 h-20"
                src="{% static 'images/vidya_ganga/Icons for VidyaGanga webpage/Icons for VidyaGanga webpage/8.png' %}"
              />
              <div id="body" class="flex flex-wrap content-center ml-5">
                <h4 id="name" class="text-xs md:text-base font-normal mb-2">
                  <strong>vCoordinator:</strong> An actor who manages the Volunteer’s life cycle.
  
                </h4>
              </div>
            </div>
          </div>
  
          <!-- End of component -->
        </div>
        <div class="p-4 md:px-12 flex justify-start items-center">
                <!-- Start of component -->
                <div
                class="max-w-6xl bg-gray-100 border-1 border-gray-300 p-5 md:96 rounded-md tracking-wide shadow-lg"
              >
                <div id="header" class="flex">
                  <img
                    class="w-20 h-20"
                    src="{% static 'images/vidya_ganga/Icons for VidyaGanga webpage/Icons for VidyaGanga webpage/16.png' %}"
                  />
                  <div id="body" class="flex ml-5 flex-wrap content-center md:pr-96">
                    <h4 id="name" class="text-xs md:text-base font-normal mb-2">
                     <strong>nAdmin:</strong> An actor who owns, decides and manages a set of Needs and nCoordinators. 
                    </h4>
                  </div>
                </div>
              </div>
      
              <!-- End of component -->
      </div>
      <div class="p-4 md:px-12 justify-start items-center w-full">
          <!-- Start of component -->
          <div
            class="max-w-6xl bg-green-100 border-1 border-gray-300 p-5 rounded-md tracking-wide shadow-lg"
          >
            <div id="header" class="flex">
              <img
                class="w-20 h-20"
                src="{% static 'images/vidya_ganga/Icons for VidyaGanga webpage/Icons for VidyaGanga webpage/15.png' %}"
              />
              <div id="body" class="flex flex-wrap content-center ml-5">
                <h4 id="name" class="text-xs md:text-base font-normal mb-2">
                 <strong>nCoordinator:</strong> An actor who publishes the Need, enables the Discovery and Delivery by the Volunteer.
                </h4>
              </div>
            </div>
          </div>
  
          <!-- End of component -->
        </div>

    
    {% endblock content %} {% block scripts %} {{ block.super }}

    <script>
        $(".close").click(function() {
            //$('.star').removeAttr("checked","checked");
        });
        $("#cancel_pop_id").click(function() {
            window.location = '/';
        });
        $("#saveratingId").prop("disabled", true);
        $(".star").click(function() {
            $("#saveratingId").removeAttr("disabled", "disabled");
        });

        $('#media').carousel({
            pause: true,
            interval: false,
        });

        $(document).ready(function() {
            setInterval(function() {
                $("a.right.carousel-control").click();
            }, 5000);

            /*  var owl = $('.owl-carousel');
		  $(owl).autoplay('false');    */
            // $('.owl-carousel').carousel('pause');

            $('.owl-carousel');


            var flag = $("#sessionRatingCheck").val();
            if (flag) {
                get_rated();
            }
        });
    </script>

    {% endblock scripts %}